.welcome-header {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 500;
}
.welcome-header__text {
  opacity: 0.7;
  margin-bottom: 90px;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.login-form__input {
  border: none;
  padding: 10px 0px;
  font-size: 14px;
  margin-bottom: 25px;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.4s ease-in-out;
}
.login-form__input input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form__input:focus {
  border-color: var(--yellow);
}
.login-form__btn {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.login-form__a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  margin: 15px;
}
